# Godot 4+ specific ignores
.godot/
/android/

# IDE stuff
.vscode

# python virtual environment
.venv/

# misc
.DS_Store
.python-version
!agent/.python-version

/export/
__pycache__/
.ruff_cache/

# Godot temp save files
*.tmp
